<div>
    <div class="panel panel-default panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">
            <span>
            <div ng-hide="placeList.isLeague()">{{placeList.formatDate(placeList.game.date) | date:fullDate}}</div>
            <div ng-show="placeList.isLeague()">League 2014</div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="placeList.clickLeft()" ng-disabled="placeList.disableLeft()">
                  <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                </button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="placeList.clickRight()" ng-disabled="placeList.disableRight()">
                  <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </span>
        </div>
        <div class="panel-body">
        </div>

        <!-- Table -->
        <table class="table">
        <tr ng-repeat="player in placeList.game.players" >
            <!-- <td class="col-md-2">{{$index + 1}}</td> -->
            <td class="col-md-4" style="text-align:center">{{player.points}}</td>
            <td class="col-md-4" style="text-align:center">
                <a class="circle">
                    <img height="32" width="32" ng-src="{{placeList.getImage(player.name)}}" alt="face"/>
                </a>
            </td>
            <td class="col-md-4">{{player.name}}</td>
        </tr>
        </table>
    </div>
</div>
