body {background-color:black;}

.panel {
    background-color:black;
    color: white;
}

.table>tbody>tr>td {
    padding: 0 8px 0 8px;
}

/* Circle Avatar Styles */

.circle {
    line-height: 0;     /* remove line-height */
    display: inline-block;  /* circle wraps image */
    margin: 5px;
  /*border: 2px solid rgba(255,255,255,0.4);*/
    border-radius: 50%; /* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    /*transition: linear 0.25s;*/
  height: 32px;
  width: 32px;
}
.circle img {
    border-radius: 50%; /* relative value for
                   adjustable image size */
}
.circle:hover {
    transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */


.animate.ng-enter, .animate.ng-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
} 

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
  left: 0;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
  left: 500px;
}